<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='theme.css')}}">
        </head>
        <body>
            <div id="body_container">
                <img src="{{ url_for('static', filename='PassWord_Keeper_Logo.png') }}" alt="password keeper logo" id="logo_img">
                <table id="home_table">
                    <tr>
                            <td><a href="{{ url_for('browse') }}"><button class="home_button">Browse</button></a></td>
                            <td><button class="home_button">Search</button></td>
                            <td><button class="home_button">Sort</button></td>
                    </tr>
                    <tr>
                        <td><a href="{{ url_for('add') }}"><button class="home_button">Add Entry</button></a></td>
                        <td><button class="home_button">Hold</button></td>
                        <td><button class="home_button">Hold</button></td>
                    </tr>
                </table>
            </div>
        </body>
    </html> 