* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

p {
    color: white;
    padding: 5%;
}

label {
    color: white;
}

#body_container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
}

button, #registration_button, #login_button {
    border-radius: 15px;
    font-size: large;
    margin-top: 5%;
    margin-bottom: 25%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 1%;
    background-color: aqua;
    border-color: aqua;
}

#login_button {
    margin-right: 5%;
}

#registration_button {
    margin-top: 5%;
    margin-bottom: 5%;
}

#logo_img {
    width: 20%;
    height: 20%;
}

input {
    margin-bottom: 5%;
}